{% extends "base.html" %}

{% block title %}
{{ course.title }}
{% endblock %}

{% macro Avatar(url) %}
<span class="small-avatar"><img class="border border-light" src="{{ url }}"></span>
{% endmacro %}

{% macro CourseHeader(course) %}
<div class="py-5">
    <h1 class="card-title">{{ course.title }}</h1>
    <h6 class="card-subtitle mb-5 text-muted">{{ course.short_description }}</h6>

    <h6 class="card-subtitle mb-2">Instructors:</h6>
    <div>
        {% for instructor in course.authors %}

        <a class="text-decoration-none text-light" href="#author-{{ instructor.id }}">
            <div class="d-flex align-items-center mb-1">
                <span class="me-2">
                    {{ Avatar(instructor.photo) }}
                </span>
                {{ instructor.name }}
            </div>
        </a>

        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro CourseAbout(course) %} 
<h2>About this course</h2>
<p>{{ course.description|markdown|safe }}</p>
{% endmacro %}

{% macro CourseOutline(course) %} 
<h2 class="mb-3">Course outline</h2>
<div>
    {% for part in course.outline %}
    {% set module, lessons = part.module, part.lessons %}
    <div class="card text-bg-light mb-3">
        <div class="card-header">
            <h6 id="{{ module.name }}" class="mb-0">{{ module.title }}</h6>
        </div>
        <ol class="list-group list-group-flush">
            {% for lesson in lessons %}
            <li class="list-group-item ps-4">
                <a class="card-link text-decoration-none" href="#{{ module.name }}">{{ lesson.title }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro CourseInstructors(course) %} 
<h2 class="mb-3">Instructors</h2>
<div>
    {% for instructor in course.authors %}
    <div id="author-{{ instructor.id }}" class="row mb-3">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center">
            <img class="rounded-circle" style="width: 100%; max-height: 128px; max-width: 128px;" src="{{ instructor.photo }}" />
        </div>
        <div class="col">
            <div class="pt-3">
                <h5>{{ instructor.name }}</h5>
                <p>{{ instructor.about|markdown|safe }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro CourseInfo(course) %}
<div class="mb-4">
    {{ CourseAbout(course) }}
</div>
<div class="mb-4">
    {{ CourseOutline(course) }}
</div>
<div class="mb-4">
    {{ CourseInstructors(course) }}
</div>
{% endmacro %}

{% block content %}
<div class="text-bg-dark">
    <div class="container">
        {{ CourseHeader(course) }}
    </div>
</div>

<div class="container pt-4">
    {{ CourseInfo(course) }}
</div>
{% endblock %}
